<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "global/partials/head.html" %}
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegação -->
    {% include 'chat/partials/navbarchat_include.html' %}

    <!-- Corpo do Chat -->
    {% include 'chat/partials/chatbody_include.html' %}   

    <!-- Barra de envio -->
    {% include 'chat/partials/sendbar_include.html' %}   

    <input type="hidden" id="server-name" value="{{ server_name }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat/chat.js') }}"></script>

</body>
</html>